#navImg {
  background-color: red;
  width: 75px;
  height: 75px;
}
a {
  color: white;
}
nav {
  background-color: aqua;
  display: flex;
}
body{
  font-family: 'PT Sans', sans-serif;
}
#Home {
  background-color: #00A5BF;
  padding: 25px;
}
#Calendar {
  background-color: #00B7D3;
  padding: 25px;
}
#Join {
  background-color: #00D5E7;
  padding: 25px;
}
.bigPart{
  background-color: #0B1942;
  color: white;
}
footer{
  color: white;
}
